.customer-tab {
  height: 952px;
  padding: 30px;
  gap: 30px;
  display: flex;
  flex-direction: column;

  & .header {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & > p {
      font-size: 24px;
      font-weight: 600;
    }
    & .header-right {
      width: 96px;
      height: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    & .export {
      width: 96px;
      font-size: 14px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      background-color: #4a90e2;
      gap: 8px;
      border-radius: 8px;
      border: 1px solid #4a90e2;
      color: white;
      cursor: pointer;
      & svg {
        /* fill: #4a90e2; */
        fill: white;
      }
    }
  }
  & .filter {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .filter-form {
      width: 380px;
      display: flex;
      gap: 10px;
      flex-direction: row;
    }
    & .search {
      width: 300px;
      background-color: white;
      height: 40px;
      padding: 8px 12px 8px 12px;
      gap: 4px;
      display: flex;
      flex-direction: row;
      border-radius: 8px;
      border: 1px;
      & input {
        border: none;
        outline: none;
        flex: 1;
      }
    }
    & select {
      width: 120px;
      border-radius: 8px;
      gap: 8px;
      border: 1px solid #ededed;
      outline: none;
    }
  }
  & .table {
    height: 730px;
    flex-direction: column;
    display: flex;
    & .row {
      height: 60px;
      padding: 10px 20px 10px 20px;
      gap: 10px;
      border-bottom: 1px solid #ededed;
      background-color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & > span {
        width: 150px;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        gap: 9px;
        align-items: center;
        &:last-child {
          width: 30px;
          height: 30px;
        }
      }
      & .quantity {
        width: 27px;
        height: 27px;
        border-radius: 5px;
        background-color: #ededed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
      }
      & .name, .email {
        width: 220px;
        & img {
          width: 40px;
          height: 40px;
          border-radius: 6px;
        }
      }
      &.head {
        padding: 20px;
        border-radius: 10px 10px 0px 0px;
        height: 70px;
      }
    }
  }
}
