* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.company-logo {
  & h1 {
    font-size: 24px;
    line-height: 29.05px;
    font-weight: 600;
    text-align: center;
    width: 139px;
    & span:first-child {
      color: #4a90e2;
    }
  }
}
.stat1 {
  width: 240px;
  height: 91px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid #ededed;
  background-color: white;
  & .details {
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .price {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
  }
  & .percent {
    color: #27ae60;
  }
}
& .stat2 {
  width: 240px;
  height: 59px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  border: 1px solid #ededed;
  background-color: white;
}
